html,
body,
#app {
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--el-bg-color);
}

* {
    font-family: 'MyCustomFont';
    color: var(--el-text-color-primary);
}
.el-button.el-button--primary *{
    color: var(--el-color-primary);
    transition: all 0.5s;
}
.el-button.el-button--primary *:hover{
    color: var(--el-bg-color);
}
.el-button.el-button--primary:not(.is-plain):not(.is-round):not(.is-circle) *{
    color: var(--el-bg-color);
}
// button * {
//     color: var(--el-bg-color);
// }

.el-menu,
.el-tabs,
.el-tabs * {
    border: none !important;
}

.el-menu-item * {
    transition: all .3s;
}

.el-menu-item:hover,
.el-sub-menu__title:hover {
    background-color: var(--catppuccin-surface0);
}

.el-menu-item.is-active * {
    color: var(--el-color-primary) !important;
}

.menu-sub-item1 {
    background-color: var(--catppuccin-mantle);
}

.el-aside,
.el-header,
.el-footer {
    background-color: var(--catppuccin-crust);
}

.el-tabs {
    background-color: var(--catppuccin-base);
}

.el-tabs__header {
    background-color: var(--catppuccin-crust) !important;
    user-select: none;
}

.el-tabs__item {
    background-color: var(--catppuccin-mantle) !important;
    padding: 15px !important;
    padding-right: 8px !important;
}

.el-tabs__item.is-active {
    background-color: var(--el-bg-color) !important;
    box-shadow: inset 0 2px 0 0 var(--el-color-primary);
}

.el-tabs__item .is-icon-close {
    border-radius: 15%;
    padding: 3px;
    opacity: 0;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active .is-icon-close,
.el-tabs__item:hover .is-icon-close {
    opacity: 1;
}