$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

html.theme-mocha {

    --catppuccin-rosewater: #{$rosewater};
    --catppuccin-flamingo: #{$flamingo};
    --catppuccin-pink: #{$pink};
    --catppuccin-mauve: #{$mauve};
    --catppuccin-red: #{$red};
    --catppuccin-maroon: #{$maroon};
    --catppuccin-peach: #{$peach};
    --catppuccin-yellow: #{$yellow};
    --catppuccin-green: #{$green};
    --catppuccin-teal: #{$teal};
    --catppuccin-sky: #{$sky};
    --catppuccin-sapphire: #{$sapphire};
    --catppuccin-blue: #{$blue};
    --catppuccin-lavender: #{$lavender};

    --catppuccin-text: #{$text};
    --catppuccin-subtext1: #{$subtext1};
    --catppuccin-subtext0: #{$subtext0};

    --catppuccin-overlay2: #{$overlay2};
    --catppuccin-overlay1: #{$overlay1};
    --catppuccin-overlay0: #{$overlay0};

    --catppuccin-surface2: #{$surface2};
    --catppuccin-surface1: #{$surface1};
    --catppuccin-surface0: #{$surface0};

    --catppuccin-base: #{$base};
    --catppuccin-mantle: #{$mantle};
    --catppuccin-crust: #{$crust};

    --el-color-white: #ffffff;
    --el-color-black: #000000;

    --el-color-primary: #{$mauve};
    --el-color-primary-light-1: color-mix(in srgb, var(--el-color-white) 10%, var(--el-color-primary));
    --el-color-primary-light-3: color-mix(in srgb, var(--el-color-white) 30%, var(--el-color-primary));
    --el-color-primary-light-5: color-mix(in srgb, var(--el-color-white) 50%, var(--el-color-primary));
    --el-color-primary-light-7: color-mix(in srgb, var(--el-color-white) 70%, var(--el-color-primary));
    --el-color-primary-light-8: color-mix(in srgb, var(--el-color-white) 80%, var(--el-color-primary));
    --el-color-primary-light-9: color-mix(in srgb, var(--el-color-white) 90%, var(--el-color-primary));
    --el-color-primary-dark-2: color-mix(in srgb, var(--el-color-black) 20%, var(--el-color-primary));

    --el-color-success: #{$green};
    --el-color-success-light-1: color-mix(in srgb, var(--el-color-white) 10%, var(--el-color-success));
    --el-color-success-light-3: color-mix(in srgb, var(--el-color-white) 30%, var(--el-color-success));
    --el-color-success-light-5: color-mix(in srgb, var(--el-color-white) 50%, var(--el-color-success));
    --el-color-success-light-7: color-mix(in srgb, var(--el-color-white) 70%, var(--el-color-success));
    --el-color-success-light-8: color-mix(in srgb, var(--el-color-white) 80%, var(--el-color-success));
    --el-color-success-light-9: color-mix(in srgb, var(--el-color-white) 90%, var(--el-color-success));
    --el-color-success-dark-2: color-mix(in srgb, var(--el-color-black) 20%, var(--el-color-success));

    --el-color-warning: #{$peach};
    --el-color-warning-light-1: color-mix(in srgb, var(--el-color-white) 10%, var(--el-color-warning));
    --el-color-warning-light-3: color-mix(in srgb, var(--el-color-white) 30%, var(--el-color-warning));
    --el-color-warning-light-5: color-mix(in srgb, var(--el-color-white) 50%, var(--el-color-warning));
    --el-color-warning-light-7: color-mix(in srgb, var(--el-color-white) 70%, var(--el-color-warning));
    --el-color-warning-light-8: color-mix(in srgb, var(--el-color-white) 80%, var(--el-color-warning));
    --el-color-warning-light-9: color-mix(in srgb, var(--el-color-white) 90%, var(--el-color-warning));
    --el-color-warning-dark-2: color-mix(in srgb, var(--el-color-black) 20%, var(--el-color-warning));

    --el-color-danger: #{$red};
    --el-color-danger-light-1: color-mix(in srgb, var(--el-color-white) 10%, var(--el-color-danger));
    --el-color-danger-light-3: color-mix(in srgb, var(--el-color-white) 30%, var(--el-color-danger));
    --el-color-danger-light-5: color-mix(in srgb, var(--el-color-white) 50%, var(--el-color-danger));
    --el-color-danger-light-7: color-mix(in srgb, var(--el-color-white) 70%, var(--el-color-danger));
    --el-color-danger-light-8: color-mix(in srgb, var(--el-color-white) 80%, var(--el-color-danger));
    --el-color-danger-light-9: color-mix(in srgb, var(--el-color-white) 90%, var(--el-color-danger));
    --el-color-danger-dark-2: color-mix(in srgb, var(--el-color-black) 20%, var(--el-color-danger));

    --el-color-error: var(--el-color-danger);
    --el-color-error-light-1: var(--el-color-danger-light-1);
    --el-color-error-light-3: var(--el-color-danger-light-3);
    --el-color-error-light-5: var(--el-color-danger-light-5);
    --el-color-error-light-7: var(--el-color-danger-light-7);
    --el-color-error-light-8: var(--el-color-danger-light-8);
    --el-color-error-light-9: var(--el-color-danger-light-9);
    --el-color-error-dark-2: var(--el-color-danger-dark-2);

    --el-color-info: #{$blue};
    --el-color-info-light-1: color-mix(in srgb, var(--el-color-white) 10%, var(--el-color-info));
    --el-color-info-light-3: color-mix(in srgb, var(--el-color-white) 30%, var(--el-color-info));
    --el-color-info-light-5: color-mix(in srgb, var(--el-color-white) 50%, var(--el-color-info));
    --el-color-info-light-7: color-mix(in srgb, var(--el-color-white) 70%, var(--el-color-info));
    --el-color-info-light-8: color-mix(in srgb, var(--el-color-white) 80%, var(--el-color-info));
    --el-color-info-light-9: color-mix(in srgb, var(--el-color-white) 90%, var(--el-color-info));
    --el-color-info-dark-2: color-mix(in srgb, var(--el-color-black) 20%, var(--el-color-info));

    --el-bg-color: #{$base};
    --el-bg-color-page: #{$mantle};
    --el-bg-color-overlay: #{$crust};

    --el-color-text-primary: #{$text};
    --el-color-text-regular: #{$subtext1};
    --el-color-text-secondary: #{$subtext0};
    --el-color-text-placeholder: #{$overlay0};
    --el-color-text-disabled: #{$overlay1};

    --el-border-color: #{$surface2};
    --el-border-color-light: #{$surface1};
    --el-border-color-lighter: #{$surface0};
    --el-border-color-extra-light: #{$mantle};
    --el-border-color-dark: #{$overlay0};
    --el-border-color-darker: #{$overlay1};

    --el-fill-color: #{$surface0};
    --el-fill-color-light: #{$mantle};
    --el-fill-color-lighter: #{$base};
    --el-fill-color-extra-light: #{$base};
    --el-fill-color-dark: #{$surface1};
    --el-fill-color-darker: #{$surface2};
    --el-fill-color-blank: #{$crust};

    --el-box-shadow: 0px 12px 32px 4px #{$overlay0},
    0px 8px 20px #{$overlay1};
    --el-box-shadow-light: 0px 0px 12px #{$overlay1};
    --el-box-shadow-lighter: 0px 0px 6px #{$overlay2};
    --el-box-shadow-dark: 0px 16px 48px 16px #{$overlay1},
    0px 12px 32px #{$overlay0},
    0px 8px 16px -8px #{$overlay2};

    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);

    --el-overlay-color: rgba(0, 0, 0, 0.8);
    --el-overlay-color-light: rgba(0, 0, 0, 0.7);
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
    --el-mask-color: rgba(255, 255, 255, 0.9);
    --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);

    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);

    --el-svg-monochrome-grey: var(--el-border-color);

}